 <%= render "shared/header" %>
 <header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Ni vivo ni muerto</div>
            <div class="intro-heading">La tortura administrativa en el registro de desaparecidos. <br>Testimonio de una joven* cuyo padre aún le hace falta. </div>
            <p class="intro_p">Muchas personas nos ven mal por buscar la declaratoria de muerte de mi papá, pero no se dan cuenta de que podríamos perder todo por lo que por mucho tiempo él luchó. Tomar decisiones como ésta no es fácil, pero son cosas que se tienen que hacer.
            </p>

            <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle intro_btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  LEE EL CASO
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner acordion_p">
                  Mi papá tenía ya pagada la inscripción en La Salle. Mi plan era entrar a la carrera de comunicación, así que fuimos a ver qué se podía hacer, ya que mi papá había pagado el seguro. Lo único que nos dijeron era que necesitábamos llevar la hoja de muerte para poder hacer válido el seguro. <br><br>

No teníamos el papel. Mi papá estaba desaparecido, se lo habían llevado de mi casa, cosa que no entendió ninguna institución.<br><br>

Fuimos a la Universidad Autónoma de Coahuila. Mi mamá conocía al director en ese entonces, a quien le explicó la situación. Yo había sido la 2° en la lista de La Salle, tenía capacidad para demostrar que sí sabía, pero me negaron el pase. Tenía que sacar ficha como todos y entrar en enero. Así que eso hice y el resto del semestre la pasé en Viñedos, casi no salía, mientras mi mamá enfrentaba sola los problemas legales.<br><br>

Intentamos cancelar los planes en Telcel pero no pudimos porque mi papá era el titular del contrato. Explicamos la situación, pero no había nada que hacer. Fuimos al banco y pasó lo mismo. Debido a que mis papás están casados por bienes mancomunados, mi mamá necesita la firma de mi papá para enfrentar muchos trámites legales. No podíamos hacer nada.<br><br>

El día de la desaparición<br><br>

Mi nombre es A. El 19 de junio del 2010 mi vida cambió. Todo transcurría normal: fui a la escuela, llegué a casa, mi papá estaba ahí para la comida. Por la noche él fue a una fiesta al Colegio de Ingenieros en Torreón, según recuerdo. Mi mamá y yo fuimos a cenar gorditas infladas y regresamos a la casa como las 11 de la noche. Me fui a dormir.<br><br>

De repente escuché ruidos y me desperté. Agarré el celular, vi la hora, no la recuerdo exactamente pero no era muy tarde. Sentí ganas inmensas de levantarme y abrir la puerta, pero no lo hice. Escuché voces. En ese momento pensé que habían llevado a mi papá a la casa por ebrio -cosa que nunca había pasado-. Escuché mucho ruido, vi la luz prendida del otro lado de la puerta. Luego vi cómo se abrió y cerré los ojos, me hice la dormida. Sentí que la puerta se cerró en milésimas de segundos. Nadie entró. Sin entender por qué, de pronto me senté. <br><br>

Poco después entró mi mamá. Iba asustada, llorando. Y me dijo: “se llevaron a tu papá”. Traté de no desmoronarme, mi carácter ha sido fuerte desde pequeña. Salí de mi cuarto. El de mis papás y el estudio estaban destrozados: se habían llevado mi computadora, la de mi mamá, la bolsa de mi mamá, los teléfonos celulares y, lo más importante: a mi papá.<br><br>

Me dirigí a la planta baja de la casa y vi todo tirado, la puerta estaba rota. Y cosa curiosa: se llevaron los rosarios. Atrancamos la puerta, no recuerdo si con una silla, y nos subimos a un cubículo ubicado al lado de las escaleras, ahí nos quedamos sentadas. <br><br>

Le di el celular a mi mamá, le marcó a un tío y luego a otro que vivía en la casa de mi abuela, al lado de la nuestra. Le dije que no marcara más porque las líneas podían estar interferidas. Trataba de explicarme a mí misma qué había pasado, pero simplemente mi cerebro bloqueaba las palabras.<br><br>

Hicimos maletas y esperamos a que amaneciera. Entonces agarramos las cosas, las metimos al carro. Nos pareció extraño que el Ford Focus y la camioneta RAM estuvieran intactas. Tomamos las llaves y nos dirigimos hacia Viñedos. Ahí mi mamá le contó a mis dos tíos que mi papá había llegado del Colegio de Ingenieros como a la 1 de la mañana. Se puso la bata de dormir, luego se acostó y de pronto se escuchó un golpe muy fuerte.<br><br>

Cuatro hombres subieron al cuarto. Dos de ellos agarraron a mi papá y lo tiraron al piso, le apuntaron con armas largas. Cuenta mi mamá que se presentaron como policías: “somos federales, vinimos por ti y por información. Si no cooperas, aquí mismo te matamos y no nos importa”. También exigieron armas y joyas, cosas que no teníamos. Buscaron en todos los cuartos. Mi mamá les dio su bolsa, también le quitaron su anillo de bodas. Luego giraron la perilla de mi cuarto y mi mamá les dijo: “¡mi niña no, mi niña no!”. Los hombres cerraron la puerta. “Vámonos, hay niños. Ahorita se despiertan y arman un pedo”.  <br><br>

Antes de irse, a mi mamá le aventaron el colchón, un king size. Cuando lo pudo mover, ya no estaban, sólo alcanzó a ver dos carros: uno blanco y un Ibiza rojo. Mi tío, el que se encontraba en la casa de mi abuela, dijo que había dos hombres armados en la entrada de la cerrada, otros dos en la salida, uno más en el auto y los cuatro que había dentro de mi casa. Nueve fueron las personas que estuvieron ese día, como si mi papá fuera un criminal. Un vecino dijo después que el carro llevaba 15 días rondando la cerrada.<br><br>

Regresamos de Viñedos a casa por más ropa y por mi perro. Mi gato se quedó. Conseguimos un cerrajero para arreglar la puerta y cerrar la casa. Me quitaron el celular por protección. Cerré mi cuenta de Facebook, Hotmail, Messenger y Skype. Durante dos meses estuve incomunicada.<br><br>

Todos los días, mi mamá recorrió hospitales, el Semefo, cualquier lugar que se le viniera a la mente. Ella habló con la gente de la empresa donde trabajaba mi papá, le dijeron que no pusiera denuncia, que esperara 21 días. Le dieron una camioneta como pago parcial de un dinero que le debían a mi papá. Pero le debían mucho y la camioneta no cubría ni la cuarta parte. A los 21 días, mi mamá interpuso la denuncia. En el Ministerio Público le preguntaron por qué  tardó tanto en ir.  Ella les explicó la razón. <br><br>

Mi mamá es la que está llevando el juicio pero es muy desgastante, ya son años y no se ven avances. Tuvo que vender el carro por problemas económicos. No nos alcanzaba el dinero. <br><br>

En 2011, mi mamá entró a una fundación llamada Fundec para que la ayudaran con el juicio de ausencia. Después de 3 años, en septiembre del 2014, apenas estaba terminando ese juicio. Luego seguiremos con el de declaratoria de muerte. Cada dos meses, mi mamá va a Fundec a una reunión con el gobernador. <br><br>

A mí me han hecho pruebas de ADN dos veces. Personal de la PGR y la SEIDO me ha entrevistado 2 veces. Una de ellas durante 4 horas. Me hicieron preguntas sin fundamento, que no tenían nada que ver. La segunda vez duró 2 horas. También vinieron a mi casa. La primera vez tomaron fotos, se enojaron porque la habíamos remodelado pero vinieron después de 3 años. Les respondí: “debieron venir al día siguiente o cuando se puso la denuncia, no 3 años después”. <br><br>


*La protagonista de esta historia prefirió omitir su nombre por motivos de seguridad.
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
</header>
<div class="timeline_c">
  <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0Ar0CxmRGY18adDZjeGxuVzNQNE91WDNUTXBjOERSbWc&font=Bevan-PotanoSans&maptype=toner&lang=es&height=400' width='100%' height='400' frameborder='0'></iframe>
</div>
<!-- Team Members Row -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 page-header">
              <div class="row">
               <div class="col-md-4 text-vertical-center"><h2 class="text-center home_h2">Desaparecidos</h2></div>
                <div class="col-md-8"><%= render "shared/search", custom_path: missings_path(@municipio), search_placeholder: 'Buscar por nombre' %></div>
              </div>
            </div>
            <%unless @missings.nil?%>
            <%@missings.each do |person|%>
            <%= link_to missing_path(person.id) do %>
            
            
            <div class="col-lg-4 col-sm-6 text-center thumbnail">
              
              <%unless person.picture == 'default'  ||  person.picture == nil%>
              <%= image_tag "fotos/#{person.picture}", :width => 250, :height => 250, class: "img-responsive img-center"%>
              <%else%>
              <%= image_tag 'missing-image.gif', :width => 250, :height => 250,class: "img-circle img-responsive img-center"%>
              <%end%>
              <div class="caption">
              <h5 class="text-center"> <%=person.name%> </h5>
              <p class="text-center"> <%=status(person.status)%> </p>
              </div>
              <br>
          </div>
          <%end%>
          <%end%>

      </div>
  </div>
  <div class="row text-center">
    <%= paginate @missings %>
  </div>
          <%end%>
</section>


