<p id="notice"><%= notice %></p>

<h1>Listing Missings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Since</th>
      <th>Where missing</th>
      <th>Detail</th>
      <th>Status</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missings.each do |missing| %>
      <tr>
        <td><%= missing.name %></td>
        <td><%= missing.since %></td>
        <td><%= missing.where_missing %></td>
        <td><%= missing.detail %></td>
        <td><%= missing.status %></td>
        <td><%= missing.picture %></td>
        <td><%= link_to 'Show', missing %></td>
        <td><%= link_to 'Edit', edit_missing_path(missing) %></td>
        <td><%= link_to 'Destroy', missing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Missing', new_missing_path %>
