 <%= render "shared/header" %>
 <header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Nos faltan más</div>
            <div class="intro-heading">Los desaparecidos no reconocidos</div>
            <a href="#services" class="page-scroll btn btn-xl">CASOS</a>
        </div>
    </div>
</header>

<!-- Team Members Row -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Desaparecidos</h2>
            </div>
            <%@missings.each do |person|%>
            <%= link_to missing_path(person.id) do %>
            
            
            <div class="col-lg-4 col-sm-6 text-center thumbnail">
              <%unless person.picture == 'default'%>
              <%= image_tag "fotos/#{person.picture}", :width => 250, :height => 250, class: "img-responsive img-center"%>
              <%else%>
              <%= image_tag 'missing-image.gif', :width => 250, :height => 250,class: "img-circle img-responsive img-center"%>
              <%end%>
              <div class="caption">
              <h4 class="text-center"> <%=person.name%> </h4>
              <p class="text-center"> <%=status(person.status)%> </p>
              </div>
              <br>
          </div>
        
          <!--<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>-->

          <%end%>
          <%end%>
      </div>
  </div>
  <div class="row text-center">
    <%= paginate @missings %>
  </div>

</section>


